#user_page_permissions
  %table.permissions
    %caption
      Page Permissions
    %tr
      %th
        Login
      %th
        Administrator?
      %th
        Permissions
    - User.all.each do |user|
      %tr
        %td
          = user.name
          = "(#{user.login})"
        %td
          = user.admin? ? 'Yes' : 'No'
        %td
          = permission_check_box(user, @page, :create, 'Create a subpage')
          = permission_check_box(user, @page, :destroy, 'Destroy this page')
          = permission_check_box(user, @page, :permissions, 'Change permissions')